PORT=your port number for backend
MONGODB_URI=url of mongodb instance
ORIGIN_URL=frontend url for allowing cors policy
ACCESS_TOKEN_SECRET=random key for generating access token
REFRESH_TOKEN_SECRET=random key for generating refresh token
ACCESS_TOKEN_EXPIRATION_TIME=access token expiration time in seconds
REFRESH_TOKEN_EXPIRATION_TIME=refresh token expiration time in seconds
EMAIL=your email for sending emails
EMAIL_PASSWORD=your password of the email
REDIS_URL=provide url to your redis instance
GOOGLE_CLIENT_ID=Provide google client id from oauth
GOOGLE_CLIENT_SECRET=Provide google client secret