PORT=your port number for backend
MONGODB_URI=url of mongodb instance
ORIGIN_URL=frontend url for allowing cors policy
ACCESS_TOKEN_SECRET=random key for generating access token
REFRESH_TOKEN_SECRET=random key for generating refresh token
ACCESS_TOKEN_EXPIRATION_TIME=access token expiration time in seconds
REFRESH_TOKEN_EXPIRATION_TIME=refresh token expiration time in seconds
EMAIL=your email for sending emails
EMAIL_PASSWORD=your password of the email
REDIS_URL=provide url to your redis instance
GOOGLE_CLIENT_ID=Provide google client id from oauth
GOOGLE_CLIENT_SECRET=Provide google client secret
S3_BUCKET_NAME=S3 bucket name
S3_ACCESS_KEY=access token of s3 bucket
S3_REGION=region of s3 bucket
S3_SECRET_ACCESS_KEY=secret access key of s3 bucket
SIGNED_URL_EXPIRY=provide signed url expiry time in seconds
OTP_EXPIRATION_TIME=provide otp expiration time in seconds
STRIPE_SECRET_KEY=provide stripe secret key
STRIPE_WEBHOOK_SECRET= provide stripe webhook secret
ROOM_LOCK_TIME=provide room lock time in seconds